.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
media
staticfiles
static_collected
to_do_list.txt
*.md
.idea
.vscode
docker-data
Thumbs.db
.DS_Store
