{% if flag == "uz" %}
  <svg viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="2" fill="#1EB53A"/><rect y="2" width="9" height="2" fill="#fff"/><rect y="4" width="9" height="2" fill="#0099B5"/><rect y="1.85" width="9" height="0.3" fill="#CE1126"/><rect y="3.85" width="9" height="0.3" fill="#CE1126"/></svg>
{% elif flag == "ru" %}
  <svg viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="2" fill="#fff"/><rect y="2" width="9" height="2" fill="#0039A6"/><rect y="4" width="9" height="2" fill="#D52B1E"/></svg>
{% else %}
  <svg viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="6" fill="#012169"/><path d="M0 0l9 6M9 0L0 6" stroke="#fff" stroke-width="1.2"/><path d="M0 0l9 6M9 0L0 6" stroke="#C8102E" stroke-width="0.6"/><path d="M4.5 0v6M0 3h9" stroke="#fff" stroke-width="2"/><path d="M4.5 0v6M0 3h9" stroke="#C8102E" stroke-width="1.1"/></svg>
{% endif %}
